.CarroBody{
    border: 3px solid;
    margin: 1%;
    padding: 1%;
    margin-bottom: 0%;
    height: auto;   
    width: 95%;
    text-align: center; 
    background-color: rgb(200, 200, 200);
}

.InfGeneralTitulo{
    text-align: left;
    font-size:large;
    font-weight: bold;
}

.InfGeneral{
    text-align: left;
    float: left;
    width: 60%;
}

.InfGeneral b{
    color: green;
}

.CarroImg {
    display: block;
    max-width: 400px;
    max-height:800px;
    width: auto;
    height: auto;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}


.clearfix{
    clear:both
}

.Detalles{
    font-weight: bold;
    text-align: left;
    width: 60;
}

.ListaDetalles{
    list-style: none;
    margin: 0%;
    padding: 0%;
    font-weight: normal;
    width: 50%;
}

.ListaDetalles li{
    display: inline-block;
    width: auto;
    padding-top: 2%;
    padding-right: 5%;
}

.ListaDetalles b{
    color: green;
}

.ReservaButton{
    width: 25%;
    height: 30px;
    background-color: rgb(140, 204, 43);
    border-radius: 5%;
    margin-left: 66.5%;
}

.ReservaButton:hover{
    background-color: rgb(102, 148, 32);
    cursor: pointer;    
}